<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>採用管理</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/blue/style.css' %}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/base/base.css' %}"/>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/recruitment">採用管理</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">ログアウト</a></li>
            </ul>
            </div>
            {% else %}
            <li><a href="{% url 'user_create' %}">アカウント登録</a></li>
            </ul>
            </div>
            {% endif %}
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                {% if user.is_authenticated %}
                <ul class="nav nav-sidebar">
                    {% if request.path == '/recruitment/' %}<li class="active">{% else %}<li>{% endif %}<a href="{% url 'candidate_list' %}">採用候補者一覧</a></li>
                    {% if request.path == '/recruitment/candidate_add/' %}<li class="active">{% else %}<li>{% endif %}<a href="{% url 'candidate_add' %}">採用候補者追加</a></li>
                    {% if request.path == '/recruitment/archive_list/' %}<li class="active">{% else %}<li>{% endif %}<a href="{% url 'archive_list' %}">過去選考者</a></li>
                </ul>
                {% endif %}
            </div>

            {% block contents %}{% endblock %}

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery-latest.js' %}"></script>
    <script src="{% static 'js/jquery.metadata.js' %}"></script>
    <script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
    <script src="{% static 'js/base/sort.js' %}"></script>

</body>
</html>